*{
  margin: 0;
  padding: 0;
  font-family:"montserrat";
}
body{
  height: 2000px;
}
li{
  color: white;
}

@keyframes fadeIn{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

/* ------------------- ESTILOS INICIO ----------------------- */
.video-container {
  position: relative;
  width: 100%;
  height: 500px; /* Puedes ajustarlo según sea necesario */
  overflow: hidden;
}

.video-inicio {
  width: 100%;
  height: 100%;
  object-fit: cover; /* O 'cover' según el efecto que quieras */
  position: absolute;
  transition: opacity 1s ease-in-out; /* Transición suave */
}

.visible{
  opacity: 1;
  z-index: 2;
}
.next-video{
  opacity: 0;
  z-index: 1;
}
.fade-in{
  opacity: 1 !important;
  z-index: 3;
}
.fade-out{
  opacity: 0 !important;
  z-index: 1;
}


.h3-inicio{
  position: absolute;
  z-index: 999;
  top: 200px;
  left: 80px;
  color: white;
}
.p-inicio{
  position: absolute;
  top: 250px;
  left: 80px;
  z-index: 999;
  color: white;
}


/* ------------ ESTILOS NAV BAR------------------- */
.nav-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100% ;
  height: 125px;
}
.nav-bar-link{
  display: flex;
  flex-direction: row;
  gap: 45px;
}
.img-logo{
  width: 200px;
  height: 100px;
  border-radius: 20px ;
  margin-top: 0;
}
.link{
  color: black;
  text-decoration: none;
}
.link:hover{
  font-weight: 600;
}
.menu-hamburguesa-container{
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  justify-content: center;
}
.menu-hamburguesa{
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: center;
  z-index: 99999;
  background-color: black;
  padding: 50px;
  top: 141px;
  width: 100%;
}
.div-link-menu-hamburguesa{
  display: flex;
  flex-direction: column;
  gap: 25px;
  animation: fadeIn 3s ease-in-out;
}
.link-menu-hamburguesa{
  color: white;
  text-decoration: none;
  list-style: armenian;

}
.link-menu-hamburguesa:hover{
  font-weight: 600;
}
.h3-menu-hamburguesa{
  align-self: first baseline;
  text-decoration: underline;
  color: white;
  animation: fadeIn 3s ease-in-out;
}



/* ------------------- ESTILOS CONTACTO ------------ */

.seccion-contacto{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5%;
  animation: fadeIn 1.5s ease-in-out;
}
.div-info-contactoSup{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.div-info-contacto{
  display: flex;
  flex-direction: row;
  font-size: larger;
  font-weight: 500;
}
.form-contacto{
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 500px;
}

.div-form-contactoSup{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.div-form-contacto{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.div-form-contacto1{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-contacto{
  border: 1px solid black;
  border-radius: 3px;
  padding: 10px;
}


.textArea-contacto{
  height: 200px;
  border: 1px solid black;
  padding-left: 2px;
  padding-top: 2px;
  border-radius: 3px;
}

.boton-contacto{
  border: 1px solid black;
  border-radius: 2px;
  background-color: white;
  width: 125px;
  padding: 10px;
}

.boton-contacto:hover{
  background-color: black;
  color: white;
  cursor: pointer;
}

.iframe{
  height: 350px;
  width: 500px;
  border-radius: 15px;
  border: none;
  margin-top: 5%;
}



/* ---------------ICONO WHATSAPP----------- */

.bi-whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  font-size: 40px !important;
  color: green !important; 
  background: white !important; 
  padding: 10px !important;
  border-radius: 50% !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2) !important;
}




/* ---------------ESTILOS SOBRE NOSOTROS-------------- */
.contenedor-sobre-nosotros{
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  margin-left: 12%;
  gap: 20px;
  animation: fadeIn 3s ease-in-out;
  
}

.div-sobre-nosotros{
  display: flex;
  flex-direction: row;

}
.p-sobre-nosotros{
  width: 450px;
}
.img-sobre-nosotros{
  position: absolute;
  z-index: 1;
  top: 180px;
  right:250px;
  height: 300px;
  width: 200px;
  border-radius: 20px;
  box-shadow: 5px 5px 15px black;
}
.img-sobre-nosotros1{
  position: absolute;
  z-index: 2;
  right: 375px;
  top: 300px;
  height: 250px;
  width: 200px;
  border-radius: 20px;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
}

.contenedor1-sobre-nosotros{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 25%;
  margin-right: 20%;
  gap: 20px;
}
.div1-sobre-nosotros{
  display: flex;
  flex-direction: row-reverse;
}
.h2-sobre-nosotros1{
  margin-right: 240px;
  align-self: flex-end;
}
.img-sobre-nosotros2{
  position: absolute;
  left: 150px;
  top: 825px;
  z-index: 3;
  height: 275px;
  width: 200px;
  border-radius: 20px;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
}
.img-sobre-nosotros3{
  position: absolute;
  top: 700px;
  left: 300px;
  z-index: 2;
  height: 275px;
  width: 200px;
  border-radius: 20px;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
}
