*{
  margin: 0;
  padding: 0;
  font-family:"montserrat";
}
li{
  color: white;
}
@keyframes fadeIn{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
@keyframes slideIn{
  0% {
    left: 0;
  }
  100% {
    left: 350px; 
}
}













/* ------------------- ESTILOS INICIO ----------------------- */
.video-container {
  position: relative;
  width: 100%;
  height: 500px; 
  overflow: hidden;
}

.video-inicio {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  transition: opacity 1s ease-in-out; 
}


.h3-inicio{
  position: absolute;
  z-index: 999;
  top: 200px;
  left: 80px;
  color: white;
}
.p-inicio{
  position: absolute;
  top: 250px;
  left: 80px;
  z-index: 999;
  color: black;
}





















/* ------------ ESTILOS NAV BAR------------------- */
.nav-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100% ;
  height: 125px;
}
.nav-bar-link{
  display: flex;
  flex-direction: row;
  gap: 45px;
}
.img-logo{
  width: 200px;
  height: 100px;
  border-radius: 20px ;
  margin-top: 0;
}
.link{
  color: black;
  text-decoration: none;
}
.link:hover{
  font-weight: 600;
}
.menu-hamburguesa-container{
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  justify-content: center;
}
.menu-hamburguesa{
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: center;
  z-index: 99999;
  background-color: black;
  top: 141px;
  right: 0px;
  left: 0;
  padding: 50px;
  width: 100%;
}
.div-link-menu-hamburguesa{
  display: flex;
  flex-direction: column;
  gap: 25px;
  animation: fadeIn 3s ease-in-out;
}
.link-menu-hamburguesa{
  color: white;
  text-decoration: none;
  list-style: armenian;

}
.link-menu-hamburguesa:hover{
  font-weight: 600;
}
.h3-menu-hamburguesa{
  align-self: first baseline;
  border-bottom: 1px solid white;
  color: white;
  animation: fadeIn 3s ease-in-out;
  padding-bottom: 5px;
}
























/* ------------------- ESTILOS CONTACTO ------------ */

.seccion-contacto{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5%;
  animation: fadeIn 1.5s ease-in-out;
}
.div-info-contactoSup{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.div-info-contacto{
  display: flex;
  flex-direction: row;
  font-size: larger;
  font-weight: 500;
}
.form-contacto{
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 500px;
}

.div-form-contactoSup{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.div-form-contacto{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.div-form-contacto1{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-contacto{
  border: 1px solid black;
  border-radius: 3px;
  padding: 10px;
}


.textArea-contacto{
  height: 200px;
  border: 1px solid black;
  padding-left: 2px;
  padding-top: 2px;
  border-radius: 3px;
}

.boton-contacto{
  border: 1px solid black;
  border-radius: 2px;
  background-color: white;
  width: 125px;
  padding: 10px;
}

.boton-contacto:hover{
  background-color: black;
  color: white;
  cursor: pointer;
}

.iframe{
  height: 350px;
  width: 500px;
  border-radius: 15px;
  border: none;
  margin-top: 5%;
}













/* ---------------ICONO WHATSAPP----------- */

.bi-whatsapp {
  position: fixed;
  bottom: 20px;
  right: 50px;
  z-index: 999;
  font-size: 40px !important;
  color: white !important; 
  background: #25D366!important; 
  padding: 5px !important;
  border-radius: 50% !important;
}

























/* ---------------ESTILOS SOBRE NOSOTROS-------------- */
.contenedor-supremo-sobreN{
}
.contenedor-sobre-nosotros{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
  gap: 20px;
 
  margin-bottom: 0;
}

.div-sobre-nosotros{
  display: flex;
  flex-direction: row;

}
.p-sobre-nosotros{
  width: 450px;
  color: white;
  font-weight: 400;
}
.h2-sobre-nosotros{
  margin-top: 50px;
  color: white;
}
.contenedor1-sobre-nosotros{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top:3% ;
  gap: 20px;
  
}
.div1-sobre-nosotros{
  display: flex;
}
.h2-sobre-nosotros1{
  color: white;
}
.contenedor2-sobre-nosotros{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10%;
  gap: 120px;
}

.div-foto-trabajador{
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.ul-foto-trabajador{
  display: flex;
  flex-direction: column;
  color: white;
  font-weight: bold;
  margin-top: 5%;
}
.img-sobre-nosotros-trabajador{
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  height: 250px;
  width: 175px;
}
b{
  font-weight: bolder;
}
.contenedor-supremo-sobreN{
  background-image:url('/imagenes/fondo-pantalla1.jpeg');
  background-size: cover; 
  background-position: center; 
  background-attachment: fixed; 
  height: 900px;
}

























/* ---------------ESTILOS DAÑOS Y PERJUICIOS--------------- */
.contenedor-daños{
  height: 600px;
}
.img-daños{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 1;
  opacity: 10 black;
}
.div-daños3{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.estilo-praxis{
  color: white;
  position: absolute;
  top: 300px;
  left: 350px;
  border-bottom: 1px solid white;
  padding-bottom: 5px;
  z-index: 99;
  width: 250px;
  font-size: xx-large;
}
.estilo-laboral{
  color: white;
  position: absolute;
  top: 300px;
  left: 350px;
  border-bottom: 1px solid white;
  padding-bottom: 5px;
  z-index: 99;
  width: 500px;
  font-size: xx-large;
}
.estilo-transito{
  color: white;
  position: absolute;
  top: 300px;
  left: 350px;
  border-bottom: 1px solid white;
  padding-bottom: 5px;
  z-index: 99;
  width: 500px;
  font-size: xx-large;
}
.estilo-contractuales{
  color: white;
  position: absolute;
  top: 300px;
  left: 350px;
  border-bottom: 1px solid white;
  padding-bottom: 5px;
  z-index: 99;
  width: 500px;
  font-size: xx-large;
}
.p-daños{
  color: white;
  position: absolute;
  top: 355px;
  left: 350px;
  z-index: 99;
  font-size: large;
  font-weight: 700;
}
.p-daños1{
  color: white;
  position: absolute;
  top: 380px;
  left: 350px;
  z-index: 99;
  font-size: large;
  font-weight: 700;
}

.bi-arrow-right{
  position: absolute !important;
  z-index: 99 !important;
  color: white !important;
  font-size: xx-large;
  top: 450px;
  right: 50px;
  cursor: pointer;
}
.bi-arrow-left{
  position: absolute !important;
  z-index: 99 !important;
  color: white !important;
  font-size: xx-large;
  top: 450px;
  left: 50px;
  cursor: pointer;
}




















/* -----------------ESTILOS AREA DE PRACTICAS------------------- */

.div-areas-practicas{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  grid-auto-flow: row;
  justify-content:space-evenly ;
  gap: 40px;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 3%;
} 

.div-card-areas{
  display: flex;
  flex-direction: row;
  height: 300px;
  width: 200px;
  gap: 30px;
}
.div-card-areas1{
  display:flex;
  flex-direction: column;
  gap: 5px;
}

.img-areas-practicas{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 1px solid black;
}

.h2-areas-practicas{
  border-bottom: 1px solid black;
  width: 300px;
}
.p-areas-practicas{
  font-size: medium;
  opacity: 0;
}
.p-areas-practicas1{
  font-size: medium;
  width: 350px;
}
.bi-arrow-down-circle{
  cursor: pointer;
  align-items: center;
  margin-top: 20px;
  margin-left: 125px;
  font-size: 30px;
  font-weight: bolder;
  width: 20px;
  border-radius: 100%;
}

















/* -------------------ESPECIALIZACIONES AREAS DE PRACTICA-------------------------------- */
.contenedor-derecho-civil{
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 5%;
  
}
.div-derecho-civil{
  display: flex;
  flex-direction: column;
  gap:120px;
}
.img-derecho-civil{
  height: 550px;
  width: 500px;
  border-radius: 20px;
}
.h1-derecho-civil{
  margin-top: 20px;
  width: 400px;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}
.p-derecho-civil{
  font-size: large;
  line-height: 2;
}
.contenedor-real-estate{
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 5%;
}
.div-real-estate{
  display: flex;
  flex-direction: column;
  gap:80px;
}
.img-real-estate{
  height: 550px;
  width: 500px;
  border-radius: 20px;
}
.h1-real-estate{
  margin-top: 20px;
  width: 400px;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}
.p-real-estate{
  line-height: 2;
}

.contenedor-regularizacion-propiedades{
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 5%;
}
.div-regularizacion-propiedades{
  display: flex;
  flex-direction: column;
  gap:80px;
}
.img-regularizacion-propiedades{
  height: 550px;
  width: 500px;
  border-radius: 20px;
}
.h1-regularizacion-propiedades{
  margin-top: 20px;
  width: 400px;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}
.p-regularizacion-propiedades{
  line-height: 2;
}












/* --------------ESTILOS FOOTER----------- */

.contenedor-footer{
  display: flex;
  justify-content: space-around;
  background-color: black;
  height: 300px;
}


.div-footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img-footer{
  width: 200px;
  height: 100px;
  margin-bottom: 10px;
}
.div-icons{
  display: flex;
  margin-left: 50px;
}
.bi-instagram{
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin-right: 15px;
}
.bi-instagram:hover{
color: #E4405F;
}
.bi-facebook{
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin-right: 15px;
}
.bi-facebook:hover{
  color: #1877F2;
}
.bi-linkedin{
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin-right: 15px;
}
.bi-linkedin:hover{
  color: #0077B5 ;
}

.div-footer2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}
.h1-footer{
  color: white;
  margin-bottom: 10px;
}
.p-footer{
  color: white;
  margin-bottom: 10px;
}
.div-footer-contacto{
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.bi-person-rolodex{
  color: white;
  font-size: 30px;
}
.boton-footer{
  padding: 10px;
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
}
.boton-footer:hover{
  background-color: white;
  color: black;
}
.div-footer-contacto .bi-geo-alt-fill{
  color: white;
  font-size: 20px;
}
.div-footer3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.hr-footer{
  position: absolute;
  color: white;
  border: 1px solid white;
  width: 90%;
  margin-left: 60px;
}
.div-hr-footer{
  display: flex;
  flex-direction: row;
  background-color: black;
  height: 80px;
  justify-content: center;
  padding-top: 5%;
  gap: 5px;
}
.p-footer-hr{
  color: white;
}